<head>
    <meta charset="utf-8">
	<title>APPUI</title>
	<meta name="description" content="Adaptacion de template AppUI para que funcione con reactjs">
    <meta name="author" content="Jaime Quiñones">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
</head>
<body>
	<div id="render-target"></div>
</body>